<span style='color: Rgb(255,160,40); font-size: 48px'> Python with BQNT<img src='logo.png' height='48' width='200' align='right' style="padding: 20px"> </span> <br>
<span style='color: grey; font-size: 13px'> Information in this tutorial has been collected from various sources and condensed into a single notebook. 
 </span>

** Retrieve multiple data fields with BQL **

*Link for BQL Basics Webinar Video:*

https://bloomberg.cwebcast.com/ses/jXAdkrDNj-lPJiwE5vbzIA~~?ek=bbcbe277-1dd1-48cd-91a9-f375453f4c05

In [3]:
import bql
bq = bql.Service()

In [4]:
name = bq.data.name()
px = bq.data.px_last()
eps = bq.data.is_eps()

index = bq.univ.members('INDU Index')

req = bql.Request(index, [name, px, eps])
res = bq.execute(req)

** Retrieve data field by field **

In [6]:
data_name = res[0].df()
data_px = res[1].df()
data_eps = res[2].df()

data_eps.head()

              REVISION_DATE AS_OF_DATE PERIOD_END_DATE CURRENCY  IS_EPS()
ID
AXP UN Equity    2020-02-13 2020-04-01      2019-12-31      USD      8.00
VZ UN Equity     2020-02-21 2020-04-01      2019-12-31      USD      4.66
BA UN Equity     2020-01-31 2020-04-01      2019-12-31      USD     -1.12
CAT UN Equity    2020-02-19 2020-04-01      2019-12-31      USD     10.85
JPM UN Equity    2020-02-25 2020-04-01      2019-12-31      USD     10.75

** Concatenate all DataFrames together **

In [8]:
df = pd.concat([data_name, data_px, data_eps], axis=1)
df.head()

,NAME(),DATE,CURRENCY,PX_LAST(),REVISION_DATE,AS_OF_DATE,PERIOD_END_DATE,CURRENCY,IS_EPS()
ID,,,,,,,,,
AXP UN Equity,American Express Co,2020-04-01,USD,80.120003,2020-02-13,2020-04-01,2019-12-31,USD,8.00
VZ UN Equity,Verizon Communications Inc,2020-04-01,USD,53.310001,2020-02-21,2020-04-01,2019-12-31,USD,4.66
BA UN Equity,Boeing Co/The,2020-04-01,USD,140.960007,2020-01-31,2020-04-01,2019-12-31,USD,-1.12
CAT UN Equity,Caterpillar Inc,2020-04-01,USD,114.209999,2020-02-19,2020-04-01,2019-12-31,USD,10.85
JPM UN Equity,JPMorgan Chase & Co,2020-04-01,USD,85.680000,2020-02-25,2020-04-01,2019-12-31,USD,10.75

** Rename the column headers **

In [10]:
df = df.rename(columns={'NAME()': 'NAME', 'PX_LAST()': 'PRICE', 'IS_EPS()': 'EPS'})
df.head()

,NAME,DATE,CURRENCY,PRICE,REVISION_DATE,AS_OF_DATE,PERIOD_END_DATE,CURRENCY,EPS
ID,,,,,,,,,
AXP UN Equity,American Express Co,2020-04-01,USD,80.120003,2020-02-13,2020-04-01,2019-12-31,USD,8.00
VZ UN Equity,Verizon Communications Inc,2020-04-01,USD,53.310001,2020-02-21,2020-04-01,2019-12-31,USD,4.66
BA UN Equity,Boeing Co/The,2020-04-01,USD,140.960007,2020-01-31,2020-04-01,2019-12-31,USD,-1.12
CAT UN Equity,Caterpillar Inc,2020-04-01,USD,114.209999,2020-02-19,2020-04-01,2019-12-31,USD,10.85
JPM UN Equity,JPMorgan Chase & Co,2020-04-01,USD,85.680000,2020-02-25,2020-04-01,2019-12-31,USD,10.75

** Column wise calculations **

*Calculate P/E Ratio using PRICE and EPS columns*

In [11]:
df['PE'] = df['PRICE'] / df['EPS']
df.head()

,NAME,DATE,CURRENCY,PRICE,REVISION_DATE,AS_OF_DATE,PERIOD_END_DATE,CURRENCY,EPS,PE
ID,,,,,,,,,,
AXP UN Equity,American Express Co,2020-04-01,USD,80.120003,2020-02-13,2020-04-01,2019-12-31,USD,8.00,10.015000
VZ UN Equity,Verizon Communications Inc,2020-04-01,USD,53.310001,2020-02-21,2020-04-01,2019-12-31,USD,4.66,11.439914
BA UN Equity,Boeing Co/The,2020-04-01,USD,140.960007,2020-01-31,2020-04-01,2019-12-31,USD,-1.12,-125.857149
CAT UN Equity,Caterpillar Inc,2020-04-01,USD,114.209999,2020-02-19,2020-04-01,2019-12-31,USD,10.85,10.526267
JPM UN Equity,JPMorgan Chase & Co,2020-04-01,USD,85.680000,2020-02-25,2020-04-01,2019-12-31,USD,10.75,7.970233

** Advanced calculation based on column data with Lambda **

*Remove the negative PE*

In [13]:
import numpy as np

df['PE'] = df['PE'].apply(lambda x: np.NaN if x < 0 else x)
df.head()

,NAME,DATE,CURRENCY,PRICE,REVISION_DATE,AS_OF_DATE,PERIOD_END_DATE,CURRENCY,EPS,PE
ID,,,,,,,,,,
AXP UN Equity,American Express Co,2020-04-01,USD,80.120003,2020-02-13,2020-04-01,2019-12-31,USD,8.00,10.015000
VZ UN Equity,Verizon Communications Inc,2020-04-01,USD,53.310001,2020-02-21,2020-04-01,2019-12-31,USD,4.66,11.439914
BA UN Equity,Boeing Co/The,2020-04-01,USD,140.960007,2020-01-31,2020-04-01,2019-12-31,USD,-1.12,NaN
CAT UN Equity,Caterpillar Inc,2020-04-01,USD,114.209999,2020-02-19,2020-04-01,2019-12-31,USD,10.85,10.526267
JPM UN Equity,JPMorgan Chase & Co,2020-04-01,USD,85.680000,2020-02-25,2020-04-01,2019-12-31,USD,10.75,7.970233

** Find lowest 5 PE stocks and plot a bar chart with bqviz **

<p style="color: lightgreen;">Check Example Projects -> Visualization -> bqviz Basics for more examples for charting</p>

In [14]:
import bqviz

In [16]:
lowest_pe_df = df.sort_values('PE').head(5)
lowest_pe_df

,NAME,DATE,CURRENCY,PRICE,REVISION_DATE,AS_OF_DATE,PERIOD_END_DATE,CURRENCY,EPS,PE
ID,,,,,,,,,,
GS UN Equity,Goldman Sachs Group Inc/The,2020-04-01,USD,148.919998,2020-02-21,2020-04-01,2019-12-31,USD,21.25,7.008000
JPM UN Equity,JPMorgan Chase & Co,2020-04-01,USD,85.680000,2020-02-25,2020-04-01,2019-12-31,USD,10.75,7.970233
TRV UN Equity,Travelers Cos Inc/The,2020-04-01,USD,96.959999,2020-02-13,2020-04-01,2019-12-31,USD,10.01,9.686314
AXP UN Equity,American Express Co,2020-04-01,USD,80.120003,2020-02-13,2020-04-01,2019-12-31,USD,8.00,10.015000
IBM UN Equity,International Business Machine,2020-04-01,USD,109.000000,2020-02-25,2020-04-01,2019-12-31,USD,10.63,10.253998

In [18]:
bqviz.BarPlot(lowest_pe_df[['PE']]).set_style().show()

GridBox(children=(Figure(animation_duration=500, axes=[Axis(color='white', grid_color='#3c3c3c', grid_lines='dâ€¦